.app-container {
  text-align: center;
  margin: 20px;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.left-container,
.right-container {
  width: 48%;
}

h1 {
  margin-bottom: 20px;
}
